<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div id="mySidenav" class="sidenav">
    <div class="tasksList" *ngIf="tasks.length">
      <div *ngFor="let task of tasks">
        <div class="single-task" (click)="onEditTask(task)" [ngClass]="task.class">
          <p>{{task?.task}}</p>
          <p>{{task?.created}}</p>
        </div>
      </div>
    </div>
    <!-- <a class="closebtn" (click)="closeNav()">&times;</a> -->
  </div>
  <div id="main">
    <div class="ui-g">
        <div class="header">
            <h1>Sample App</h1>
            <div class="ui-g-1">
                <i class="pi pi-pencil" (click)="onSaveItem()"></i>
              </div>
              <div class="ui-g-1">
                  <i class="pi pi-trash" (click)="onDeleteTask()"></i>
            </div>
            <div class="ui-g-1">
                <i class="pi pi-plus" (click)="onNewTask()"></i>
            </div>
            <div class="ui-g-6">
                <input type="text" pInputText [(ngModel)]="searchText" (ngModelChange)="onSearchTask(searchText)"/>
            </div>
        </div>
    </div>
    <div class="ui-g p-10">
      <div>
        <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
      </div>
    </div>
    <div class="ui-g p-10">
      <input type="text" pInputText [(ngModel)]="selectedTask"/>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
